<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button 
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>demo</span>
      <span class="spacer"></span>


      <button mat-button color="accent" *ngIf="user !== null;else signin" [matMenuTriggerFor]="toolbarUserMenu">
          {{accountName}}
      </button>
          <mat-menu #toolbarUserMenu="matMenu">
        <button mat-menu-item (click)="onLogoutClick()">
          <span>Logout</span>
        </button>
      </mat-menu>
      <ng-template #signin>
          <button mat-button mat-stroked-button color="accent" (click)="onLoginClick()">
              Sign in
          </button>
      </ng-template>
      
  
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>