/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@mixin ual-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
  
    ual-ual {

      .ual-title {
        color: mat-color($foreground, secondary-text);
        background: rgba(mat-color($foreground, secondary-text), 0.03);
      }

      .mat-confirmation { 
        background-color: mat-color($primary); 
        color: mat-color($foreground); 
       } 
      
    //    .mat-error {
    //     background-color: mat-color($warn); 
    //     color: mat-color($foreground); 
    //    }
    }
  }



